.saved-activities-page {
  width: 90vw;
  height: 90vh;
  background-color: #EAAEB8;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  border-radius: 20px 0px 0px 0px;
  border: solid black 2px;
}
