.new-activity-page {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px 0px 0px 0px;
  border: solid black 2px;
  background-color: #BADEFC;
}

.loading-message {
  font-size: 4rem;
}

.new-activity-card {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: solid black 2px;
  background-color: pink;
}

.new-activity-card-heading {
  width: 100%;
  height: 15%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  font-size: 4rem;
}

.heading-and-btn {
  width: 55%;
  flex-direction: row;
  margin-left: 5%;
  display:flex;
}

.heading-and-btn > button {
  margin-left: 5%;
  border: solid black 2px;
}

.new-activity-card-heading > p {
  font-size: 1.5rem;
  align-self: flex-end;
  margin-right: 10%;
}

.saved-message {
  font-size: 1rem;
}

.new-activity-card-body {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
