.btn {
  cursor: pointer;
}

.bored-btn {
  width: 20vw;
  height: 10vh;
  border-radius: 15px;
  font-size: 3rem;
}

.save-btn {
  width: 10%;
  height: 25%;
  background-color: none;
  border: none;
  margin: 5% 0% 5% 0%;
  font-size: 1.25rem;
  border-radius: 10px;
}
