nav {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.nav-btn-home {
  background: none;
  border-right: solid black 2px;
  border-left: solid black 2px;
  border-top: none;
  border-bottom: none;
  font-size: 1.75rem;
}

.nav-btn-saved {
  background: none;
  border-right: solid black 2px;
  border-left: none;
  border-top: none;
  border-bottom: none;
  font-size: 1.75rem;
}
